* {
    box-sizing: border-box;
  
}

body {
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 800px;
}

.auth-card, #dashboard {
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

h2, h3 { color: #333; }

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #09b8f2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover { background-color: #0537ff; }

.logout-btn { background-color: #dc3545; float: right; }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th { background-color: #f8f9fa; }

span { color: #007bff; cursor: pointer; text-decoration: underline; }

.edit-btn {
    background-color: #ffc107; 
    color: black;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 12px;
}

.edit-btn:hover {
    background-color: #e0a800;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
}

.delete-btn:hover {
    background-color: #c82333;
}

td button {
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
